/* Large screen styles (min-width: 900px) */
@media screen and (min-width: 900px) {
  
  body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  nav {
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  nav button {
  padding: 0.5rem 1rem;
  background-color: #00467f;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
nav button:hover {
  background-color: red;
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: underline;
}
nav button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 102, 182, 0.5);
}

  #temple-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .temple-card {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .temple-card h2 {
    font-size: 1.4rem;
  }

  .temple-card p {
    font-size: 1rem;
  }

  .temple-card img {
    max-height: 200px;
    object-fit: cover
